@import './mixin';

.container{
    width: 1200px;
    margin: 0 auto;
    .hide{
        display: none !important;
    }
    li{
        margin-bottom: 15px;
        align-items: center;
        @include flex-box();
        @include justify-content();
        .dot{
            @include inline-block(5px,5px);
            background-color: #999;
            border-radius: 50%;
            margin-right: 15px;
        }
        a{
            display: inline-block;
            width: 75%;
            color: #666;
            @include overflow();
            @include list-font-size();
            &:hover{
                color: $hover-color !important;
            }
            &:before{
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: #999;
                border-radius: 50%;
                margin-right: 15px;
                vertical-align: 3px;
            }
        }
        .red-dot{
            &:before{
                background-color:$left-color;
            }
        }
        span{
            color: #999;
        }
        @include media(tablet){
            margin-bottom: .15rem;
            .dot{
                margin-right: .15rem;
                @include inline-block(.05rem,.05rem);
            }
            a{
                width: 100%;
                &:before{
                    width: .06rem;
                    height: .06rem;
                    margin-right: .15rem;
                }
            }
            span{
                display: none;
            }
        }
    }
    // 查看更多
    .more{
        position: absolute;
        right: 30px;
        top:50px;
        color: $important-color;
        @include list-font-size();
        @include media(tablet){
            top:auto;
            right:auto;
            bottom: 0;
            color: #fff;
            font-size: .3rem;
            text-align: center;
            line-height: .85rem;
            background-color: rgb(206, 204, 204);
            @include inline-block(6.7rem,.8rem);
        }
    }
    // tab标题
    .tab-title{
        width: 70%;
        margin-bottom: 30px;
        border-bottom: 1px solid #666;
        span{
            display: inline-block;
            width: 140px;
            height: 46px;
            line-height: 46px;
            text-align: right;
            padding-right: 10px;
            color: #333;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }   
        .active{
            position: relative;
            color: #fff;
            padding-bottom: 1px;
            background: linear-gradient(135deg,transparent 33px,$important-color 0);
            &:after{
                content: '';
                display: inline-block;
                width: 140px;
                height: 4px;
                background-color: $left-color;
                position: absolute;
                right: 0;
                bottom: -6px;
            }
        }   
        @include media(tablet){
            width: 100%;
            margin-bottom: .3rem;
            padding-bottom: .1rem;
            span{
                width: 1.4rem;
                height: .46rem;
                margin-right: .2rem;
                padding-right: .1rem;
                font-size: .32rem;
            }
            .active{
                color: $important-color;
                background: #fff;
                &:after{
                    width: 1.4rem;
                    height: .04rem;
                    bottom: -.3rem;
                }
            }
        }
    }
    // 侧边标题
    .special-title{
        position: relative;
        color: $important-color;
        font-weight: bold;
        margin-bottom: 20px;
        align-items: center;
        @include flex-box();
        @include title-font-size();

        &:before{
            content: '';
            margin-right: 15px;
            @include inline-block(5px,25px);
            background-color:$left-color;
        }
        @include media(tablet){
            margin-bottom: .2rem;
            &:before{
                margin-right: .15rem;
                @include inline-block(.06rem,.4rem);
            }
        }
    }
    @include media(tablet){
        width: 100%;
    }
}

// 公共头部
.header{
    background-color: #fff;

    .pc-header{
        .login-wrap{
            height: 38px;
            text-align: right;
            padding: 0 30px;
            background-color: #fff;
            .language{
                font-weight: bold;
                color: $important-color;
            }
            .login-btn{
                cursor: pointer;
                color: #fff;
                text-align: center;
                line-height: 38px;
                font-weight: bold;
                font-size: 18px;
                margin-left: 20px;
                background-color:$important-color;
                @include inline-block(72px,38px)
            }
        }
        .nav-wrap{
            position: relative;
            height: 262px;
            @include bg-image('../images/index/nav-bg.png');
            .logo{
                width: 380px;
                height: 60px;
                position: absolute;
                left:25px;
                top:-12px;
            }
            .nav-list{
                padding: 10px 30px;
                justify-content: flex-end;
                @include flex-box();
                @include transition(.3s);
                .nav-item{
                    position: relative;
                    padding-bottom: 15px;
                    &:hover{
                        @include transition(.3s);
                        >a{
                            background-color: $important-color;
                        }
                        .select-menu{
                            display: block;
                        }
                    }
                    a{
                        display: inline-block;
                        color: #fff;
                        font-weight: bold;
                        padding: 6px 10px;
                        @include list-font-size();
                        @include transition(.3s);
                    }
                    .select-menu{
                        display: none;
                        position: absolute;
                        top:45px;
                        left: -40px;
                        z-index: 9999;
                        color:#333;
                        border-radius: 5px;
                        border: 1px solid $important-color;
                        @include content-font-size();
                        background-color: rgba(255, 254, 255,0.7);
                        box-shadow:0px 10px 30px 0px rgba(255, 255, 255, 0.1);
                        .menu-list{
                            width: 190px;
                            padding: 10px;
                            @include column-count(2,0);
                            a{
                                color: #333;
                                @include content-font-size();
                                &:hover{
                                    color: $important-color;
                                }
                            }
                            &:before {
                                content:"";
                                position: absolute;
                                right: 50%;
                                top: -10px;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid rgba(255, 254, 255,0.7);
                            }
                        }
                    }
                }
               
            }
            .search{
                position: absolute;
                right:30px;
                bottom: 80px;
                align-items: center;
                @include flex-box();
                input{
                    width: 302px;
                    height: 45px;
                    padding: 10px;
                    border-radius: 3px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius:0;
                }
                span{
                    cursor: pointer;
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    line-height: 45px;
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                    @include inline-block(90px,45px);
                    background-color: $important-color;
                }
            }
            .slogan{
                width: 680px;
                height: 30px;
                position: absolute;
                right: 30px;
                bottom: 15px;
            }
        }
        @include media(tablet){
            display: none;
        }
    }
    .m-header{
        display: none;
        width: 100%;
        text-align: center;
        h3{
            color: #666;
            padding: .2rem 0;
            font-size: .4rem;
        }
        .banner{
            width: 100%;
            height: 3.5rem;
            padding: .3rem .2rem .4rem;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            @include flex-box();
            @include bg-image('../images/index/banner-m.png');
            background-size: 100% 100%;
            .login-wrap{
                width: 100%;
                align-items: center;
                justify-content: flex-end !important;
                @include flex-box();
                span{
                    color: $important-color;
                    text-align: center;
                    font-size: .28rem;
                    line-height: .65rem;
                    background-color: #fff;
                    @include inline-block(1.2rem,.6rem);
                    &:nth-of-type(1){
                        border-top-left-radius: .1rem;
                        border-bottom-left-radius: .1rem;
                    }
                }
                .login-btn{
                    color: #fff;
                    background-color: $important-color;
                    border-top-right-radius: .1rem;;
                    border-bottom-right-radius: .1rem;;
                }
            }
            .logo{
                width: 100%;
                img{
                    width: 80%;
                }
            }
            .search{
                position: relative;
                width: 90%;
                height: .6rem;
                background-color: #fff;
                align-items: center;
                @include border-radius(.2rem);
                @include flex-box();
                input{
                    width: 100%;
                    height: .4rem;
                    padding-left: .4rem;
                    @include border-radius(.2rem);
                }
                &:after{
                    content: '';
                    width: .36rem;
                    height: .36rem;
                    position: absolute;
                    right:.2rem;
                    @include bg-image('../images/Search.png');
                }
            }
        }
        .nav-wrap{
            position: relative;
            height: 1rem;
            color: #fff;
            font-size: .36rem;
            font-weight: bold;
            background-color: $important-color;
            align-items: center;
            justify-content: space-around;
            @include flex-box();
            .left-menu-btn{
                position: relative;
                align-items: center;
                @include flex-box();
                width: 15%;
                border-right: 1px solid #eee;
                &:before{
                    content: '';
                    margin-left: .2rem;
                    @include inline-block(.5rem,.5rem);
                    @include bg-image('../images/index/menu-icon.png');
                }
            }
            .right-nav-list{
                width: 85%;
                justify-content: space-around;
                @include flex-box();
                span{
                    font-size: .3rem;
                    font-weight: bold;
                }
            }
            .menu-list{
                position: absolute;
                left:-1.8rem;
                top:1rem;
                z-index: 9999;
                background-color: #eee;

                ul{
                    width: 1.8rem;
                    padding: .1rem 0;
                    position: relative;
                    li{
                        padding: .1rem .2rem;
                        a{
                            font-weight: bold;
                            &:before{
                                display: none;
                            }
                        }
                    }
                    .secondary-menu{
                        width: 0;
                        height: 100%;
                        position: absolute;
                        top:0;
                        left:1.78;
                        background-color: #FFF;
                        @include transition(.3s);
                        li{
                            a{
                                font-weight: normal;
                            }
                        }
                    }
                    .active{
                        background-color: #fff;
                        border-left: 1px solid $left-color;
                        >a{
                            color: #000 !important;
                        }
                        .secondary-menu{
                            width: 1.8rem;
                            left:1.78rem;
                            @include transition(.3s);
                        }
                    }
                }
            }
        }
        .slogan {
            padding: .2rem;
        }
        @include media(tablet){
            display: block;
        }
    }
}

// 公共底部
.footer{
    width: 100%;
    background-color: #EEE;
    @include content-font-size();
    h3{
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
    }
    .blogroll{
        padding: 20px 40px 0;
        .link-list{
            flex-wrap: wrap;
            @include flex-box();
            a{
                color: #666;
                padding-right:10px;
                margin: 0 10px 10px 0;
                border-right: 1px solid #999;
                @include small-font-size();
                &:hover{
                    color: $hover-color;
                }
            }
        }
    }
    .cooperation{
        width: 95%;
        margin: 0 auto;
        // padding: 0 40px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        .swiper-wrapper{
            width: 100%;
            flex-direction: row;
            @include flex-box();
            div{
                width: 142px !important;
                height: 84px !important;
                margin-right: 10px;
                img{
                    width: 100%;
                }
            }
        }
    }
    .bottom-info{
        padding:40px;
        color: #fff;
        background-color: #204782;
        align-items: center;
        justify-content: center;
        @include flex-box();
        .left-text{
            margin-right: 120px;
            p{
                margin-bottom: 10px;
            }
        }
        .right-img{
            justify-content: space-between;
            @include flex-box();
            div{
                margin-right: 30px;
                align-items: center;
                flex-direction: column;
                @include flex-box();
                img{
                    width: 120px;
                    height: 120px;
                    margin-bottom: 10px;
                }
                span{
                    @include small-font-size();
                }
            }
           
        }

    }
    @include media(tablet){
        overflow: scroll;
        h3{
            font-size: .28rem;
            padding: .2rem 0;
        }
        .blogroll{
            padding: .2rem .4rem 0;
            .link-list{
                display: block;
                width: 100%;
                white-space: nowrap;
                justify-content: space-between;
                overflow-x: scroll;
                a{
                    font-size: .22rem;
                    display: inline-block;
                    padding-right: .2rem;
                    margin: 0 .1rem .1rem 0;
                }
            }
        }
        .cooperation{
            margin-bottom: .4rem;
            h3{
                padding-left: .2rem;
            }
            .swiper-wrapper{
                .swiper-slide{
                    width: 1.8rem !important;
                    height: 1.2rem !important;
                    margin-right: .2rem;
                }
            }
        }
        .bottom-info{
            width: 100%;
            height: auto;
            padding: .5rem;
            justify-content: center;
            flex-direction: column;
            .left-text{
                text-align: center;
                margin-right: 0;
                p{
                    &:nth-of-type(1){
                        margin-bottom: .4rem;
                        font-weight: bold;
                    }
                }
            }
            .right-img{
                justify-content: center;
                div{
                    margin-right: .8rem;
                    img{
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-bottom: .1rem;
                    }
                    &:nth-of-type(2){
                        margin-right: 0;
                    }
                }
            }
        }

    }
}