@import './mixin';
@import './common';

.main-cont{
    width: 100%;
    padding:30px 30px 0;
    background-color: #fff;
    .article{
        .title{
            height: 124px;
            padding:20px;
            margin-bottom: 30px;
            background-color: #eee;
            flex-direction: column;
            justify-content: space-between;
            @include flex-box();
            h3{
                color: #333;
                font-size: 36px;
                font-weight: bold;
                text-align: center;
            }
            p{
                text-align: right;
                color: #666;
                @include small-font-size();
                span{
                    margin-left: 20px;
                }
            }
        }
        .cont{
            color: #666;
            padding: 40px;
            @include list-font-size();
            background-color: #eee;
            p{
                line-height: 40px;
                margin-bottom: 40px;
                text-indent: 2em;
            }
            .img-wrap{
                margin-bottom: 30px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @include flex-box();
                img{
                    width: 700px;
                    height: 400px;
                    margin-bottom: 18px;
                }
                span{
                    color: #999;
                    @include content-font-size();
                }
            }
        }
        .share{
            height: 45px;
            color: #666;
            text-align: right;
            align-items: center;
            justify-content: flex-end;
            @include flex-box();
            @include content-font-size();
            span{
                cursor: pointer;
                margin-left: 5px;
                @include inline-block(18px,18px);
                &:last-child{
                    display: none;
                }
            }
            @for $i from 1 through 5 {
                .item#{$i} { 
                    @include bg-image('../images/share-icon#{$i}.png');
                }
            }
        }
    }
    @include media(tablet){
        padding: .3rem 0 0;
        .article{
            .title{
                height: auto;
                padding: .4rem;
                margin-bottom: .3rem;
                align-items: flex-start;
                h3{
                    width: 100%;
                    font-size: .4rem;
                    text-align: left;
                    margin-bottom: .2rem;
                }
                p{
                    text-align: left;
                    span{
                        margin-right: .2rem;
                        margin-left: 0;
                    }
                }
            }
            .cont{
                padding: .4rem;
                p{
                    line-height: .6rem;
                    margin-bottom: .4rem;
                }
                .img-wrap{
                    margin-bottom: .3rem;
                    img{
                        width: 6rem;
                        height: 3.5rem;
                        margin-bottom: .2rem;
                    }
                }
            }
            .share{
                height: .8rem;
                padding-right: .2rem;
                span{
                    margin-left: .2rem;
                    @include inline-block(.36rem,.36rem);
                    display: none;
                    &:last-child{
                        display: block;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}